.overlay{
  display: block;
  position: fixed;
  left: -300px;
  top: -300px;
  right: -300px;
  bottom: -300px;
  z-index: 999999999;
  background:rgba(34,34,34,.66);
}
.popup-overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  z-index: 100;
  white-space: nowrap;
  font-size: 0
}
.popup-overlay::before{
  content:"";
  display:inline-block;
  vertical-align:middle;
  width:0;
  height:100%
}
.qrCode{
  width:300px;
  height: 300px;
  background:#FFF;
  position:relative;
  display:inline-block;
  font-size:16px;
  vertical-align:middle;
}
